@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    background: url(./images/bg.jpg) no-repeat center center/cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 100%;
    max-height: 100%;
}

.todoapp {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0,0,0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
}

.todoapp h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.input-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-area input {
    flex: 1;
    padding: 10px 17px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 7px;
    font-size: 1rem;
    outline: none;
    background-color: rgba(85, 107, 47, 0.25);
}

.input-area input::placeholder {
    color: rgba(219, 219, 219, 0.7);

}

.input-area button {
    margin-left: 10px;
    padding: 10px 15px;
    color: rgba(219, 219, 219, 0.7);
    background-color: rgba(85, 107, 47, 0.25);
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.input-area button:hover {
    transform: scale(1.02);
    background-color: rgba(85, 107, 47, 0.45);
    color: white;
}

.todos-container {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#task-list {
    width: 100%;
}

.empty-image {
    filter: brightness(0) saturate(100%) invert(32%) sepia(16%) saturate(749%) hue-rotate(48deg) brightness(95%) contrast(92%);
    opacity: 0.45;
}

.empty-message {
    margin-top: 10px;
    color: white;
    font-weight: 600;
}